<div class="row">
  <h1>Setup with QRCode</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>First, scan the QRCode below: </h2>
    <%= image_tag private_panel_qr_code_path(format: :svg), class: 'qrcode' %>
  </div>

  <div class="col-md-6">
    <h2>Now, let's check if everything is ok!</h2>

    <%= simple_form_for @form, as: :form, url: private_panel_settings_one_time_password_path do |f| %>
      <%= f.input :code, required: true %>
      <%= f.button :submit, 'Check code!' %>
    <% end %>
  </div>
</div>
